.Battle__container {
  display: flex;
  flex-direction: column;
  height: 65vh;
  justify-content: space-around;
  margin: auto;
  max-width: 900px;

  @media(--desktop) {
    flex-direction: row;
  }

  & .PlayerPreview__container {
    flex-direction: row;
    justify-content: space-around;
    padding: 25px 0;
  }

  & .PlayerPreview__button--reset {
    bottom: 0;
    max-width: 118px;
    position: absolute;
    right: 20px;
  }

  & .PlayerPreview__username {
    font-size: 2.2rem;
    margin: 10px 0;
  }

  & .PlayerPreview__GitHub {
    display: none;
  }
}

.Battle__button {
  background: transparent;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  margin: 10px auto;
  padding: 15px 0;
  width: 175px;
  transition: all 0.25s;

  &:hover {
    background: white;
    border-radius: 20px;
    color: var(--color-blue);
  }
}
