.Followers__container {
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
}

.Followers__header {
  color: white;
  font-size: 30px;
  margin: 0 0 var(--base-large-margin);
  text-align: center;
}

.Followers__button {
  background: var(--color-blue);
  border-radius: 3px;
  border: 4px white solid;
  color: white;
  cursor: pointer;
  font-family: Josefin Sans, system-ui;
  font-size: 43px;
  height: 15vh;
  line-height: 15vh;
  text-align: center;
  transition: all 0.25s;
  width: 35vw;
  padding: 0;

  @media (--tablet) {
    height: 80px;
    line-height: 80px;
    width: 100px;

    &:hover {
      background: white;
      border-radius: 20px;
      color: var(--color-blue);
    }
  }
}
