.PlayerPreview__container {
  -webkit-backface-visibility: hidden;
  align-items: center;
  animation: box-width 0.5s linear forwards;
  background: white;
  border: 8px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto var(--base-large-margin);
  max-width: 500px;
  padding: 50px 0 20px;
  position: relative;
  width: 100%;

  @media(--desktop) {
    margin: var(--base-large-margin) auto;
  }
}

.PlayerPreview__avatar {
  background-color: whitesmoke;
  border-radius: 50%;
  height: 150px;
  min-height: 150px;
  min-width: 150px;
  position: relative;
  width: 150px;
  z-index: 2;
}

.PlayerPreview__username {
  color: black;
  font-size: 2.5rem;
}

.PlayerPreview__GitHub {
  animation: headerBob 0.5s linear infinite;
  left:0;
  margin: auto;
  position: absolute;
  right:0;
  top: -35px;
  z-index: 1;
}

.PlayerPreview__avatarWrapper {
  position: relative;
}

.avatar__placeholder {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.PlayerPreview__button {
  background: #0a0a0a;
  border-radius: 3px;
  border: none;
  color: #e6e6e6;
  display: block;
  font-size: 16px;
  margin: 10px auto;
  padding: 15px 0;
  text-align: center;
  width: 200px;
}

.PlayerPreview__button:hover:enabled {
  background: linear-gradient(#1a1a1a,#0a0a0a);
  color: #fff;
  text-decoration: none;
}

.PlayerPreview__button--reset {
  background: white;
  border: none;
  color: #d0021b;
  display: block;
  height: 45px;
  margin: 0 auto;
  max-width: 200px;
  text-align: center;
  width: 100%;
}

.PlayerPreview__button--reset:hover {
  cursor: pointer;
}

@keyframes headerBob {
	25% {
		transform: rotate(5deg);
	}
	75% {
		transform: rotate(-5deg);
	}
  100% {
		transform: rotate(0deg);
	}
}

@keyframes box-width {
  0% {
    width: 0;
  }
  100% {
    width: 85vw;
  }
}
