.Famous__header {
  text-align: center;
}

.Famous__languages {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  & li {
    cursor: pointer;
    padding: 20px;
  }
}

.Famous__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Famous__repo-listing {
  margin: 20px;
  text-align: center;
}

.Famous__rank {
  font-size: 20px;
  margin: 10px;
}
