.LanguageListItem__button {
  background: transparent;
  border: none;
  padding: 20px;
  cursor: pointer;
}

.LanguageListItem__button:focus {
  outline: 0;
  border-bottom: 2px solid white;
  border-radius: 0;
}

.LanguageListItem__button::-moz-focus-inner {
  border: 0;
}

.LanguageListItem__button--selected {
  color: white;
}
