.Nav__container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 10px var(--base-small-margin) var(--base-small-margin);
}

.Nav__container--expanded {
  align-self: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

.Nav {
  margin: 0;
  position: relative;
  z-index: 3;

  @media (--tablet) {
    width: 15%;
  }

  & li {
    border-bottom: 1px solid white;
    flex-grow: 1;
    padding: 5px 0;
  }

  & a {
    color: white;
    display: block;
    padding: 10px 0;
  }
}

.Nav--options{
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 87%;
  position: relative;
  z-index: 3;

  & li {
    border: 1px solid white;
    box-sizing: border-box;
    flex: 1;
    max-width: 400px;
    width: 50vw;
  }

  & li:first-child {
    border-bottom: none;
  }

  & li:last-child {
    border-top: none;
  }

  & a {
    display: block;
    padding: 25px 0 70px 15px;
    color: white;

    @media (--tablet) {
      padding-bottom: 120px;
    }
  }

  & li:hover {
    border-right: 3px solid white;
  }

}

.Nav__a--blue {
  color: var(--color-blue);
}

.Nav__footer {
  bottom: 0;
  color: white;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;

  @media (--tablet) {
    padding-right: var(--base-large-margin);
    text-align: right;
  }
}
