.RepoGrid__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.RepoGrid__repo-listing {
  margin: 20px;
  text-align: center;
}

.RepoGrid__repo-listing a {
  display: block;
}

.RepoGrid__rank {
  font-size: 20px;
  margin: 10px;
}

.RepoGrid__avatar {
  background-color: whitesmoke;
  border-radius: 50%;
  height: 150px;
  min-height: 150px;
  min-width: 150px;
  position: relative;
  transition: all 0.2s;
  width: 150px;
  z-index: 2;
}

.RepoGrid__avatar:hover {
  box-shadow: 0 8px 6px -6px black;
  transform: rotate(-5deg);
}
