.PlayerInput__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PlayerInput--single,
.PlayerInput--battle {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: flex-end;

    @media (--tablet) {
      justify-content: center;
    }
}

.PlayerInput--single {

  & label {
    margin-bottom: var(--base-large-margin);
  }
}

.PlayerInput--battle {

  & label {
    margin-bottom: var(--base-small-margin);
  }

  & .PlayerInput__input {
    margin: 0 0 var(--base-small-margin);
  }
}

.PlayerInput__input {
  border-radius: 3px;
  margin: 0 0 var(--base-large-margin);
  height: 45px;
  line-height: 45px;
  padding-left: 10px;
  border: 1px solid rgba(0, 0, 0, 0.43);
  font-size: 16px;
  width: 75%;
  max-width: 400px;

  @media (--tablet) {
    width: 50%;
  }
}

.PlayerInput__input::placeholder {
  font-family: Josefin Sans, system-ui;
}
