:root {
  --color-blue: #32c7ff;

  --base-large-margin: 40px;
  --base-small-margin: 20px;
}

@custom-media --tablet (min-width: 630px);
@custom-media --desktop (min-width: 769px);

body {
  background: var(--color-blue);
  font-family: Josefin Sans, system-ui;
  overflow: hidden;
  font-size: 16px;
}

button {
  font-family: Josefin Sans, system-ui;
  font-size: 1rem;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  font-size: 1.5rem;

  @media (--tablet) {
    font-size: 2rem;
  }
}

/* Positions input labels out of view while remaining accessible to screen readers */
.screen-reader-text {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
