@import url("./base.css");
@import url("./Followers.css");
@import url("./FollowerResults.css");
@import url("./Nav.css");
@import url("./PlayerInput.css");
@import url("./PlayerPreview.css");
@import url("./Battle.css");

.avatar {
  width: 150px;
  height: 150px;
  min-width: 150px;
  min-height: 150px;
  border-radius: 50%;
  background-color: whitesmoke;
}

.space-list-items {
  margin-bottom: 7px;
}

.famous-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.popular-item {
  margin: 20px;
  text-align: center;
}

.popular-rank {
  font-size: 20px;
  margin: 10px;
}

.container {
  /*max-width: 900px;*/
  display: flex;
  flex-direction: column;
  height: 70vh;

  @media (--tablet) {
    height: 85vh;
  }
}

.languages {
  display: flex;
  justify-content: space-around;
}

.languages li {
  cursor: pointer;
}

.active {
  font-weight: bold;
}

.column label {
  text-align: center;
  font-size: 30px;
  font-weight: 200;
}

.header {
  text-align: center;
  font-size: 30px;
  font-weight: 200;
}

.Famous__repo {
  position: relative;

  & span {
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
  }
}

.Famous__repo:hover {
  & span{
  animation: starFly 1s infinite;
}
}

/*https://css-tricks.com/random-numbers-css/*/
/*https://api.github.com/search/users?q=ffffggggllll*/

@keyframes starFly {
  0% {
    left: 50%;
    top: 50%;
  }
  100% {
    left: 300%;
    top: 20%;
  }
}
