
:root {
  --color-blue: #32c7ff;
}

.button {
  color: #e6e6e6;
  background: #0a0a0a;
  border: none;
  font-size: 16px;
  border-radius: 3px;
  width: 200px;
  text-align: center;
  display: block;
  padding: 7px 0;
  margin: 10px auto;
}

.button--creep {
  color: #e6e6e6;
  background: #0a0a0a;
  border: none;
  font-size: 16px;
  border-radius: 3px;
  width: 90vw;
  text-align: center;
  justify-content: center;
  display: flex;
  height: 20vh;
  padding: 40px;
  margin: 10px auto;
  align-items: center;
  cursor: pointer;

    @media(min-width: 500px) {
      height: 39vh;
      width: 300px;
    }
}

.button--creep:hover {
  transition: all 0.5s;
  background: white;
  color: black;
  border: 30px solid black;
  padding: 10px;
}

.button:hover:enabled {
  background: linear-gradient(#1a1a1a,#0a0a0a);
  color: #fff;
  text-decoration: none;
}

.button:active {
  transform: translateY(1px);
}

.avatar {
  width: 150px;
  border-radius: 50%;
}

.space-list-items {
  margin-bottom: 7px;
}

.famous-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.popular-item {
  margin: 20px;
  text-align: center;
}

.popular-rank {
  font-size: 20px;
  margin: 10px;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.languages {
  display: flex;
  justify-content: space-around;
}

.languages li {
  cursor: pointer;
}

.nav {
  display: flex;
  position: relative;
  z-index: 1;
}

.nav li {
  margin-right: 15px;
}

.active {
  font-weight: bold;
}

.row {
  display: flex;
  justify-content: space-around;
}

.column {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
}

.PlayerPreview {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

/*formetly .column input*/

.PlayerInput__input {
  border-radius: 3px;
  margin: 10px 0;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.43);
  font-size: 16px;
  width: 50%;
  transform: rotate(2deg);
}

.column label {
  text-align: center;
  font-size: 30px;
  font-weight: 200;
}

.header {
  text-align: center;
  font-size: 30px;
  font-weight: 200;
}

.reset {
  border: none;
  background: white;
  color: #d0021b;
  display: block;
  width: 100%;
  text-align: center;
  max-width: 200px;
  margin: auto;
}

.reset:hover {
  cursor: pointer;
}

.FollowerResults-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-top: -50px;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.FollowerResults__img {
  width: 80vw;
  height: 80vw;
  border-radius: 3%;
  position: relative;
  max-width: 450px;
  max-height: 450px;

  @media(min-width: 500px) {
      height: 40vw;
      width: 40vw;
  }
}

.PlayerInput--single {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  margin-top: -48px;

    @media(min-width: 500px){
      justify-content: center;
    }
}

.PlayerInput--single label {
  text-align: center;
  font-size: 150px;
  font-weight: 200;
}

.FollowerResults__topDiv {
  position: absolute;
  left: -49%;
  top: -22%;
  z-index: 1;
  transform: rotate(-30deg);
  color: white;
  background: var(--color-blue);
  border: 9px white solid;
  padding: 0 40px;

    & h2 {
      font-size: 2.6rem;
    }
}

.FollowerResults__bottomDiv {
  position: fixed;
  height: 50vh;
  width: 100vw;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: white;
}

.FollowerResults__h3 {
  position: absolute;
  color: var(--color-blue);
  margin: 0 auto;
  left: 0;
  right: 0;
}

.FollowerResults__img--gitHub{
  bottom: 0;
  position: absolute;
  right: -125px;
  width: 90px;
  animation: rightLeft 4s linear infinite;
}

.FollowerResults__img--followedUser {
  bottom: 0;
  position: absolute;
  right: -250px;
  width: 90px;
  border-radius: 50%;
  animation: leftRight 4s linear infinite;
}

.FollowerResults__container--inner {
  position: relative;
}

@keyframes leftRight {
	20% {
		right: -250px;
	}
	25% {
		right: -187.50px;
	}
	75% {
		right: -187.50px;
	}
  80% {
		right: -250px;
	}
}

@keyframes rightLeft {
	20% {
		right: -125px;
	}
	25% {
		right: -187.50px;
	}
	75% {
		right: -187.50px;
	}
  80% {
		right: -125px;
	}
}
