.FollowerResults-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-top: -50px;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.FollowerResults__img {
  width: 80vw;
  height: 80vw;
  border-radius: 3%;
  position: relative;
  max-width: 450px;
  max-height: 450px;

  @media(min-width: 500px) {
      height: 40vw;
      width: 40vw;
  }
}

.FollowerResults__topDiv {
  position: absolute;
  left: -49%;
  top: -6%;
  z-index: 1;
  transform: rotate(-30deg);
  color: white;
  background: var(--color-blue);
  border: 9px white solid;
  padding: 0 40px;

    & h2 {
      font-size: 2.6rem;
    }
}

.FollowerResults__bottomDiv {
  position: fixed;
  height: 50vh;
  width: 100vw;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: white;
}

.FollowerResults__h3 {
  position: absolute;
  color: var(--color-blue);
  margin: 0 auto;
  left: 0;
  right: 0;
}

.FollowerResults__img--followingUser {
  bottom: -125px;
  position: absolute;
  left: 50px;
  width: 90px;
  border-radius: 50%;
  animation: leftMid 10s ease-in infinite;
}

.FollowerResults__img--gitHub {
  bottom: -125px;
  position: absolute;
  left: 175px;
  width: 90px;
  animation: Mid 10s ease-in infinite;
}

.FollowerResults__img--followedUser {
  bottom: -125px;
  position: absolute;
  left: 175px;
  width: 90px;
  border-radius: 50%;
  animation: midRight 10s ease-in infinite;
}


.FollowerResults__container--inner {
  position: relative;
}

@keyframes leftMid {
	0% {
		left: 50px;
	}
  30% {
		left: 50px;
	}
  40% {
    left: 112.5px;
  }
	50% {
		left: 50px;
  }
  70% {
		left: 50px;
  }
  100% {
		left: 50px;
	}
}

@keyframes Mid {
	0% {
		left: 175px;
	}
  30% {
		left: 175px;
	}
  40% {
		left: 112.5px;
	}
	50% {
		left: 175px;
  }
	60% {
		left: 237.5px;
  }
  70% {
		left: 175px;
  }
  80% {
		left: 175px;
	}
  100% {
		left: 175px;
	}
}

@keyframes midRight {
	0% {
		left: 300px;
	}
  30% {
    left: 300px;
  }
  50% {
    left: 300px;
  }
	60% {
		left: 237.5px;
	}
  70% {
		left: 300px;
  }
  80% {
		left: 300px;
	}
  100% {
		left: 300px;
	}
}
