.FollowerResults__container {
  display: flex;
  flex-direction: column;
  height: 88%;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;

  @media (--tablet) {
    height: 100%;
  }
}

.FollowerResults__img,
.FollowerResults__container--inner {
  width: 70vw;
  height: 70vw;
  border-radius: 3%;
  position: relative;
  max-width: 350px;
  max-height: 350px;

  @media (--tablet) {
      height: 40vw;
      width: 40vw;
      max-width: 375px;
      max-height: 375px;
  }
}

.FollowerResults__container--inner {
  background-color: lightgrey;
}

.FollowerResults__topDiv {
  position: absolute;
  left: 0;
  top: -50px;
  z-index: 1;
  color: white;
  background: var(--color-blue);
  border: 3px white solid;
  padding: 0 25px;

  @media (--tablet) {
    padding: 3px 40px;
    border: 9px white solid;
    left: -49%;
    top: -15%;
    transform: rotate(-30deg);
  }
}

.FollowerResults__bottomDiv {
  position: fixed;
  height: 44vh;
  width: 100vw;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: white;
}

.FollowerResults__h2 {
  font-size: 1.2rem;
  margin: 0.5rem;

  & span {
    font-style: italic;
  }

  @media (--tablet) {
    font-size: 2rem;
  }
}

.FollowerResults__p {
  margin: 0.3rem 0 0 0;
  position: absolute;
  left: 0vw;
  color: #32c7ff;
  font-size: 1rem;
  width: 75vw;
  text-align: left;

  @media (--tablet) {
    margin: 0;
    left: 104%;
    right: 0;
    width: 27vw;
    max-width: 200px;
    bottom: 0;
    text-align: left;
  }
}

.FollowerResults__prev,
.FollowerResults__next {
  position: fixed;
  height: 67vh;
  width: 50vw;
  bottom: 20vh;
  background-color: transparent;
  border: none;
  font-size: 0;
  z-index: 2;
}

.FollowerResults__prev {
  left: 0;

  @media (--desktop) {
    cursor: url('../../assets/arrow-left.svg') 10 25, auto;
  }
}

.FollowerResults__prev::after {
  content: url('../../assets/arrow-left-small.svg');
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 6px;

  @media (--desktop) {
    display: none;
  }
}

.FollowerResults__next {
  right: 0;

  @media (--desktop) {
    cursor: url('../../assets/arrow-right.svg') 10 25, auto;
  }
}

.FollowerResults__next::after {
  content: url('../../assets/arrow-right-small.svg');
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 6px;

  @media (--desktop) {
    display: none;
  }
}

.FollowerResults__prev:focus,
.FollowerResults__next:focus {
  outline: 0;
}

.FollowerResults__img--animated {
  bottom: 10px;
  position: fixed;
  width: 70px;
  border-radius: 50%;

  @media (--tablet) {
    position: absolute;
    bottom: -125px;
    width: 90px;
  }
}


.FollowerResults__img--followingUser {
  animation: leftMid 10s ease-in infinite;
  z-index: 4;
}

.FollowerResults__img--gitHub {
  animation: Mid 10s ease-in infinite;
  z-index: 4;
}

.FollowerResults__img--followedUser {
  animation: midRight 10s ease-in infinite;
  z-index: 3;
}

@keyframes leftMid {
  0% {
    left: 13%;
    transform: translate(-1%, 0);
  }
  30% {
    left: 13%;
    transform: translate(-1%, 0);
  }
  40% {
    left: 30%;
    transform: translate(-30%, 0);
  }
  50% {
    left: 13%;
    transform: translate(-1%, 0);
  }
  100% {
    left: 13%;
    transform: translate(-1%, 0);
  }
}

@keyframes Mid {
  0% {
    left: 50%;
    transform: translate(-50%, 0);
  }
  30% {
    left: 50%;
    transform: translate(-50%, 0);
  }
  40% {
    left: 30%;
    transform: translate(-30%, 0);
  }
  50% {
    left: 50%;
    transform: translate(-50%, 0);
  }
  60% {
    left: 70%;
    transform: translate(-70%, 0);
  }
  70% {
    left: 50%;
    transform: translate(-50%, 0);
  }
  100% {
    left: 50%;
    transform: translate(-50%, 0);
  }
}

@keyframes midRight {
  0% {
    left: 87%;
    transform: translate(-100%, 0);
  }
  50% {
    left: 87%;
    transform: translate(-100%, 0);
  }
  60% {
    left: 70%;
    transform: translate(-70%, 0);
  }
  70% {
    left: 87%;
    transform: translate(-100%, 0);
  }
  100% {
    left: 87%;
    transform: translate(-100%, 0);
  }
}

@media (--tablet) {
  @keyframes leftMid {
  	0% {
  		left: 0%;
      transform: translate(-1%, 0);
  	}
    30% {
  		left: 0%;
      transform: translate(-1%, 0);
  	}
    40% {
      left: 30%;
      transform: translate(-30%, 0);
    }
  	50% {
  		left: 0%;
      transform: translate(-1%, 0);
    }
    100% {
  		left: 0%;
      transform: translate(-1%, 0);
  	}
  }

  @keyframes Mid {
  	0% {
  		left: 50%;
      transform: translate(-50%, 0);
  	}
    30% {
      left: 50%;
      transform: translate(-50%, 0);
  	}
    40% {
  		left: 30%;
      transform: translate(-30%, 0);
  	}
  	50% {
      left: 50%;
      transform: translate(-50%, 0);
    }
  	60% {
  		left: 70%;
      transform: translate(-70%, 0);
    }
    70% {
      left: 50%;
      transform: translate(-50%, 0);
    }
    100% {
      left: 50%;
      transform: translate(-50%, 0);
  	}
  }

  @keyframes midRight {
  	0% {
      left: 100%;
      transform: translate(-100%, 0);
  	}
    50% {
      left: 100%;
      transform: translate(-100%, 0);
    }
  	60% {
      left: 70%;
      transform: translate(-70%, 0);
  	}
    70% {
      left: 100%;
      transform: translate(-100%, 0);
    }
    100% {
      left: 100%;
      transform: translate(-100%, 0);
  	}
  }
}
