.FollowerResults-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-top: -50px;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.FollowerResults__img {
  width: 80vw;
  height: 80vw;
  border-radius: 3%;
  position: relative;
  max-width: 450px;
  max-height: 450px;

  @media(min-width: 500px) {
      height: 40vw;
      width: 40vw;
      max-width: 375px;
      max-height: 375px;
  }
}

.FollowerResults__topDiv {
  position: absolute;
  left: -5%;
  top: -35%;
  z-index: 1;
  transform: rotate(-10deg);
  color: white;
  background: var(--color-blue);
  border: 9px white solid;
  padding: 0 40px;

  @media(min-width: 500px) {
    left: -49%;
    top: -6%;
    transform: rotate(-30deg);
  }
}

.FollowerResults__bottomDiv {
  position: fixed;
  height: 50vh;
  width: 100vw;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: white;
}

.FollowerResults__h2 {
  font-size: 1.2rem;

  @media(min-width: 500px) {
    font-size: 2rem;
  }
}

.FollowerResults__h3 {
  position: absolute;
  color: var(--color-blue);
  margin: 0 auto;
  left: 0;
  right: 0;
}

.FollowerResults__img--animated {
  bottom: -150px;
  position: absolute;
  width: 90px;

  @media(min-width: 500px) {
    bottom: -125px;
  }
}

.FollowerResults__img--followingUser {
  border-radius: 50%;
  animation: leftMid 10s ease-in infinite;
}

.FollowerResults__img--gitHub {
  animation: Mid 10s ease-in infinite;
  z-index: 2;
}

.FollowerResults__img--followedUser {
  border-radius: 50%;
  animation: midRight 10s ease-in infinite;
  z-index: 1;
}

.FollowerResults__container--inner {
  position: relative;
}

@keyframes leftMid {
	0% {
		left: -10%;
	}
  30% {
		left: -10%;
	}
  40% {
    left: 20%;
  }
	50% {
		left: -10%;
  }
  100% {
		left: -10%;
	}
}

@keyframes Mid {
	0% {
		left: 33%;
	}
  30% {
		left: 33%;
	}
  40% {
		left: 20%;
	}
	50% {
		left: 33%;
  }
	60% {
		left: 45%;
  }
  70% {
		left: 33%;
  }
  100% {
		left: 33%;
	}
}

@keyframes midRight {
	0% {
		left: 75%;
	}
  50% {
    left: 75%;
  }
	60% {
		left: 45%;
	}
  70% {
		left: 75%;
  }
  100% {
		left: 75%;
	}
}

@media(min-width: 500px) {
  @keyframes leftMid {
  	0% {
  		left: 0%;
      transform: translate(-1%, 0);
  	}
    30% {
  		left: 0%;
      transform: translate(-1%, 0);
  	}
    40% {
      left: 20%;
      transform: translate(-20%, 0);
    }
  	50% {
  		left: 0%;
      transform: translate(-1%, 0);
    }
    100% {
  		left: 0%;
      transform: translate(-1%, 0);
  	}
  }

  @keyframes Mid {
  	0% {
  		left: 50%;
      transform: translate(-50%, 0);
  	}
    30% {
      left: 50%;
      transform: translate(-50%, 0);
  	}
    40% {
  		left: 20%;
      transform: translate(-20%, 0);
  	}
  	50% {
      left: 50%;
      transform: translate(-50%, 0);
    }
  	60% {
  		left: 60%;
      transform: translate(-60%, 0);
    }
    70% {
      left: 50%;
      transform: translate(-50%, 0);
    }
    100% {
      left: 50%;
      transform: translate(-50%, 0);
  	}
  }

  @keyframes midRight {
  	0% {
      left: 100%;
      transform: translate(-100%, 0);
  	}
    50% {
      left: 100%;
      transform: translate(-100%, 0);
    }
  	60% {
      left: 60%;
      transform: translate(-60%, 0);
  	}
    70% {
      left: 100%;
      transform: translate(-100%, 0);
    }
    100% {
      left: 100%;
      transform: translate(-100%, 0);
  	}
  }
}
