.Followers__container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Followers__headline {
  font-size: 30px;
  margin: 0 0 var(--base-large-margin);
  color: white;
  text-align: center;

  @media (--tablet) {
    font-size: 20px;
  }
}

.Followers__button {
  transition: all 0.5s;
  border: 4px white solid;
  color: white;
  background: var(--color-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: Josefin Sans, system-ui;
  font-size: 43px;
  border-radius: 3px;
  text-align: center;
  height: 15vh;
  width: 35vw;
  padding-top: 10px;

  @media (--tablet) {
    height: 80px;
    width: 100px;

    &:hover {
      background: white;
      color: var(--color-blue);
      border-radius: 20px;
    }
  }
}
