.Nav {
  position: relative;
  z-index: 3;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.Nav-tr {

  & td {
    width: 33%;
    border: 1px solid white;
    text-align: center;
    padding: 10px 0;
  }

  & a {
    padding: 10px 20px;

    @media(min-width: 500px) {
      padding: 10px 30px;
    }
  }


}
