.Nav-container {
  margin: 10px var(--base-small-margin) 5px;

/*ADDED*/
  flex: 1;
  display: flex;
  flex-direction: column;
}

.Nav-container--expanded {
  display: flex;
  flex-direction: column;
  justify-content: center;


  /*ADDED*/
  /*height: 75vh;*/
  align-self: center;
  flex: 1;
}

.Nav {
  position: relative;
  z-index: 3;
  margin: 0;

  @media (--tablet) {
    width: 15%;
  }

  & li {
    border-bottom: 1px solid white;
    padding: 5px 0;
    flex-grow: 1;

    /*ADDED*/
    width: 50vw;
  }

  & a {
    display: block;
    padding: 10px 0;
  }
}

.Nav--options{
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 3;
  height: 87%;
  flex: 1;

  & li {
    width: 55vw;
    border: 1px solid white;
    flex: 1;
  }

  & li:first-child {
    border-bottom: none;
  }

  & li:last-child {
    border-top: none;
  }

  & a {
    display: block;

    /*ADDED*/
    padding: 25px 0 70px 15px;

    @media (--tablet) {
      padding-bottom: 120px;
    }
  }
}

.Nav__a--blue {
  color: var(--color-blue);
}

.Nav__footer {
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  @media (--tablet) {
    text-align: right;
    padding-right: var(--base-large-margin);
  }
}
