.nav,
.nav--sub {
  display: flex;
  justify-content: space-around;
  position: relative;
  z-index: 3;
  margin: 0;

  & li {
    width: 33%;
    border: 1px solid white;
    text-align: center;
    padding: 10px 0
  }

  & a {
    padding: 15px;
  }
}

.nav__a--blue {
  color: var(--color-blue);
}
