.PlayerPreview {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  margin-top: -3rem;
}

.PlayerPreview__username {
  color: black;
  font-size: 2.5rem;
}

.PlayerPreview__GitHub {
  animation: headerBob 0.5s linear infinite;
  position: fixed;
  left:0;
  right:0;
  margin: auto;
  bottom: 65%;
}

.PlayerPreview__backdrop {
  -webkit-backface-visibility: hidden;
  background: white;
  width: 100vw;
  height: 67vh;
  position: fixed;
  z-index: -2;
  animation: box-width 0.5s linear forwards;
  display: flex;
  align-items: end;
  justify-content: flex-end;
  border: 15px solid black;
}

.avatar__placeholder {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: red;
}

@keyframes headerBob {
	25% {
		transform: rotate(5deg);
	}
	75% {
		transform: rotate(-5deg);
	}
  100% {
		transform: rotate(0deg);
	}
}

@keyframes downUp {
  0% {
    bottom: -20%
  }
  100% {
    bottom: 65%
  }
}

@keyframes box-width {
  0% {
    width: 0;
  }
  100% {
    width: 85vw;
  }
}

@media (--tablet) {
  @keyframes box-width {
    0% {
      width: 0;
    }
    100% {
      width: 67vh;
    }
  }
}
